<section class="container">
    <ng-container *ngIf="!cartMode">
        <section class="title">
            Estimado huésped:
        </section>
        <section class="introduction">
            <p>Para un mayor confort durante su estadía podrá escoger algunos de los siguientes productos:<br>
               Stock Limitado
            </p>
        </section>
    </ng-container>
    <section>
        <h3 *ngIf="!cartMode" class="articles-title">Solicitudes a la habitación</h3>
        <h3 *ngIf="cartMode" class="articles-title">Tu canasta</h3>
        <div class="articles">
            <article *ngFor="let x of productList" class="article">
                <div class="image">
                    <div class="image-container">
                        <img alt="image" [src]="x.image" />
                    </div>
                </div>
                <div class="name">{{x.name}}</div>
                <div class="description">{{x.description}}</div>
                <div class="counter">
                    <div class="counter-container">
                        <div>
                            <button type="button" (click)="decrement(x)">
                                <fa-icon [icon]="faMinus"></fa-icon>
                            </button>
                        </div>
                        <span>{{x.quantity}}</span>
                        <div>
                            <button type="button" (click)="increment(x)">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="actions">
        <button *ngIf="!cartMode" class="button-canasta" (click)="changeMode(true)">Ver canasta
            <div class="circle">{{ itemsCount }}</div>
        </button>
        <button *ngIf="cartMode" class="button-return" (click)="goBack()">Regresar
        </button>
        <button *ngIf="cartMode" class="button-reset" (click)="resetCart()">Vaciar canasta
        </button>
        <button *ngIf="cartMode" class="button-confirm" (click)="confirmCart()">Confirmar pedido
        </button>
    </section>
</section>