.title {
	color: #a80d0d;
}

.divider {
	border-color: #dd0000;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}

.filters {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	padding: 8px;
}
.filters .filter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 7px;
}

.input {
	width: 120px;
	padding: 4px 8px;
	border-radius: 10px;
}
/* 
select.input {
    width: 120px;
} */

.current {
	text-align: center;
	max-width: 50px;
}
